// I deleted Sprockets and used SASS import commands.
body {margin:0}
@import "bourbon";
@import "base/base";
@import "neat";
@import "refills/centered-navigation";
@import "welcome";
@import "exercises";
@import "routines";

.container {
  margin: 20px;
}

.container::after {
  clear: both;
  content: "";
  display: block;
}
